<title>{{ title }}</title>
<meta
  name="description"
  content="Starting a business with a physical location is not easy, there are a lot of moving parts that you need to consider."
/>

<!-- Json-LD Breadcrumb -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/",
          "name": "New Mexico LLC"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/Wyoming-Registered-Agent",
          "name": "Wyoming Registered Agent"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/Wyoming-Registered-Agent/WY-Resale-Certificate",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>
<!-- Json-LD Breadcrumb end -->

{% extends "master/index.html" %} {% block content %}

<div class="back">
  <a href="{{ url_for('index') }}" class="btn-back">
    <div>
      <svg width="16px" height="14px" viewBox="0 0 16 14">
        <path d="M1,7 L15,7"></path>
        <polyline points="7 1 1 7 7 13"></polyline>
      </svg>
    </div>
    <span>Home</span>
  </a>
  <div class="menu-back">
    <ul class="nav-history">
      {% include "links/bread/agent.html" %}
      <li>
        <a> {{ title }} </a>
      </li>
    </ul>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center mt-3">
        <h2 class="text-primary-brand">{{ title }}</h2>
        <hr />
        <p>
          Starting a business with a physical location is not easy, there are a
          lot of moving parts that you need to consider. Not only do you need to
          decide where to get your inventory, but how you will do it cost
          effectively and with the least amount of excess tax.
        </p>
        <p>
          Therefore, if you are a business that purchases items from other
          businesses for resale, then the only method to avoid paying sales tax,
          in the form of a resale certificate. This certificate requires
          adequate documentation and indicates that the item was in good faith
          when the purchaser obtained the item. At the final sale, the purchaser
          will resell the item and report tax.
        </p>
        <p>
          Typically, a reseller’s certificate is provided by a retailer to a
          wholesale dealer. In some states, it is known as a reseller permit, a
          resale license, or a sales tax permit. Overall, the resellers
          certificate is used to identify your company as a reseller to
          wholesalers.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Wyoming Reseller Certificate Requirements
        </h4>
        <ul>
          <li>Name and address of the purchaser.</li>
          <li>Name and address of the seller.</li>
          <li>Registration number of the purchaser.</li>
          <li>Description of property purchased for resale.</li>
          <li>Reason for exemption.</li>
          <li>
            Statement regarding how the property is to be put to use in a
            taxable manner should the purchaser remit the consumer’s use tax.
          </li>
          <li>Date, signature, and title of an authorized individual.</li>
        </ul>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          When Do You Need a Resellers Certificate in Wyoming?
        </h4>
        <p>
          You might need a Wyoming resellers certificate if you are a business
          that is registered for sales and use tax. In this case, you can only
          use a reseller's certificate when merchandise is being purchased
          specifically to be resold. You cannot use a resale certificate in
          order to purchase merchandise that you plan to use or consume for your
          business.
        </p>
        <p>
          Basically, you will need a resellers certificate whenever you plan to
          buy wholesale products. This means that if you want to be exempt from
          sales tax when purchasing items for your business, you will need one.
          It is good to note that any merchandise obtained with a resale
          certificate is subject to use tax if it is consumed by the purchaser.
          This means that it must be reported, and then the tax must be paid
          appropriately.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Who Does Not Need a Seller’s Permit
        </h4>
        <p>
          There are some cases in which businesses are not required to hold a
          seller’s permit. This might be because you do not make sales in a
          particular state, or because you do not sell items that are subject to
          sales tax when sold at retail.
        </p>
        <p>
          If you happen to be selling to a purchaser that does not need to hold
          a seller’s permit but who does want to purchase using a resale
          certificate, this must be indicated on the certificate. It must
          blatantly state that the purchaser does not hold a permit and why they
          do not require one.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">What is a Nexus?</h4>
        <p>
          When you are speaking about a nexus, it is in relation to being a
          business that has a “sufficient physical presence”. This means that
          your nexus will determine whether or not a business must collect sales
          tax, or use tax on the products that it plans to sell.
        </p>
        <p>
          Different states have different rules on what is considered a
          “sufficient physical presence”, but in Wyoming, one of the following
          must exist:
        </p>
        <ul>
          <li>An office, retail location, or warehouse in Wyoming.</li>
          <li>Storage of inventory in Wyoming.</li>
          <li>One or more employees in Wyoming.</li>
          <li>One or more affiliates in Wyoming.</li>
          <li>
            Physical presence in any form in Wyoming, such as at a trade show or
            expo.
          </li>
        </ul>
        <p>
          If you do have a nexus in Wyoming, you will be expected to collect
          sales tax. When you are purchasing from a nexus, you must use a
          reseller's certificate to avoid paying that sales tax.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          How to Get a Reseller’s Certificate
        </h4>
        <p>There are a few easy steps to obtain a reseller's certificate.</p>
        <ol>
          <li>
            Acquire the application from your state department: This is
            different in all states, but in Wyoming, this location is the
            Department of Revenue website.
          </li>
          <li>
            Once on the appropriate website, you will need to download the ETS
            Form. This form is also known as “Sales/Use Tax.”
          </li>
          <li>
            Next, you will need to obtain all of the other necessary documents.
            This will include your tax ID number, articles of incorporation (or
            articles of organization), your driver’s license, bank account
            information, names and addresses of suppliers, estimated monthly
            sales revenue, and other details.
          </li>
          <li>
            Finally mail the filled-out form, along with the other documents, to
            the appropriate address for the Wyoming Department of Revenue.
          </li>
          <li>
            Submit the fee for your reseller certificate, this is a one time $60
            license fee.
          </li>
        </ol>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Should I Obtain a Reseller's Certificate in Wyoming?
        </h4>
        <p>
          If you plan to purchase items at wholesale and sell them in a retail
          store, then you should obtain a reseller's certificate in Wyoming.
          This will provide you with the opportunity to avoid paying sales tax
          on items that you plan to resale. It is essential to do so if you own
          a business with a storefront. To learn more about reseller’s
          certificates and how to acquire them,
          <a href="https://wyomingllcattorney.com/#contact" target="_blank"
            >contact a Wyoming attorney</a
          >
          today!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="navigation" class="mb-50">
  <div class="container py-5">{% include "links/index.html" %}</div>
</section>

{% endblock %}
