<footer class="mt-50">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center mb-4">
            <a href="#" class="d-flex social-item">
                <img src="{{ url_for('static', filename='images/icons/facebook-svg.svg') }}" alt="Facebook">
                Facebook
            </a>
            <a href="#" class="d-flex social-item">
                <img src="{{ url_for('static', filename='images/icons/twitter-brands.svg') }}" alt="Twitter">
                Twitter
            </a>
            <a href="#" class="d-flex social-item">
                <img src="{{ url_for('static', filename='images/icons/email.svg') }}" alt="E-Mail">
                Email Us
            </a>
        </div>
        <p class="d-block footer-text">
            This site is solely intended for informational purposes. It is beyond the scope of this site to provide any legal or tax advice. Rather, we only intend to make you aware of the forms of ownership available to you. We advise you seek professional advice before embarking upon any course of action.
        </p>
    </div>
</footer>