<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img
        src="{{ url_for('static', filename='images/cindy-logo.jpg') }}"
        alt="New Mexico LLC"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <span class="material-icons is-open"> menu </span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="servicesDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Popular Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
            <li>
              <a class="dropdown-item" href="{{ url_for('index') }}">
                Form an LLC in Wyoming
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('agent') }}">
                Wyoming Registered Agent
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('vo_mail_forwarding') }}"
              >
                Wyoming Mail Forwarding
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('vo_index') }}">
                Wyoming Virtual Office
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('llc_corporations') }}">
                Wyoming Corporations
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('llc_trust') }}">
                Wyoming Asset Protection Trust
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('requirements') }}">
                Wyoming LLC Requirements
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="resourcesDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
            <li>
              <a class="dropdown-item" href="{{ url_for('anonymous') }}">
                Anonymous Wyoming LLCs
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('llc_taxes') }}">
                Wyoming LLC Taxes
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('llc_fees') }}">
                Wyoming LLC Annual Fees
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('holding_company') }}">
                Wyoming Holding Company
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('llc_member') }}">
                Single Member LLC
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">sitemap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">contact form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">about & pricing</a>
        </li>
        <li class="nav-item">
          <a href="tel:+1-505-257-0791" class="call-btn">Call: 505-257-0791</a>
        </li>
      </ul>
      <a
        class="btn btn-order text-light"
        href="https://app.cindysnewmexicollcs.com/intake"
        target="_blank"
        >order or login</a
      >
    </div>
  </div>
</nav>
