{% extends "master.html" %}

{% block content %}
<div class="container mega-margin-top-5 pt-5">
    <div class="row justify-content-center pt-5">


            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h3 class="mt-3 text-primary raleway-font">Bartering</h3>
                <hr class="primary">
            </div>

        <div class="row justify-content-center text-center">
            <p>

Bartering is a good tool to improve your business performance. Many small businesses find it very convenient to barter with their associates. However you need to be aware of the tax implications.When there was no commonly acceptable currency, people used to barter. This method has still retained its importance in the modern times. It is still very popular especially in small businesses.
<br><br>
Consider the case of an IT professional. He may develop a website for the printer and in return the printer can deliver his business cards and brochures. Then consider the case of a small trader who can trade his slow moving goods with another trader and get some better once. These are all barter transactions. They are acceptable to IRS, but with a pinch of salt!
<br><br>
IRS is very reluctant to allow taxable income go out of its hands without any charge. So naturally there are no loopholes for saving in taxes by bartering. As per the IRS rules, the true market value of products and services bartered must be included in your accounts. Similarly the cost of goods and services given away in these transactions in a particular year should be included. So there is no chance of lowering your tax liability from bartering transactions.
<br><br>
However, you can still plan to reduce your tax liability in bartering transactions. This is because of the word 'fair market value'. So if you are bartering slow moving goods against some fresh stock, the fair market value of the slow moving goods will be always lesser. So you are automatically showing less realization value. For the services you are rendering, the fair market value will be the one you are deciding!
<br><br>
So while filing your tax return, if you are filing schedule C, (most of the smaller businesses do that) you have to declare the income from bartering transactions during that year in your total receipts. You must also file Form 1099-B which must be completed by the taxpayers who have received proceeds from broker and barter exchange transactions.
<br><br>
Remember, you can always deduct expenses incurred in bartering transactions. So if you are paying for transportation cost to deliver your goods during such a transaction, this cost is always deductible as an expense. And this can offset the income you derived from bartering.
<br><br>
If you barter for an asset like a computer, then you need to depreciate such asset as per the allowable rates and find out its net value. This will decide the amount of capital gain or capital loss from this transaction.
<br><br>
Bartering is very convenient method of business in present times also. There are hundreds of exchanges available throughout the United States. Some of them are available even online. The bartering transactions are estimated to cross $3 billion in the last year. You need to be very careful about the fees these exchanges charge. Many of them charge 6% on each transaction. So the advantage of bartering is lost due to its expensive nature.
<br><br>
Due care must be taken to keep proper documentation and supporting to justify your dealings. The barter exchanges are required to report their entire transactions to IRS, so there will be always cross verification done by IRS with individual accounts.
<br><br>
Income tax on Bartering, tax liability in bartering transactions, Form 1099-B for barter exchange transactions
</p>
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h5 class="mt-3 text-primary raleway-font">Parting Thoughts</h5>
                <hr class="primary"><p>Preparing proper financial reports is imperative. They act as your financial dashboard and should drive decision making. Even with this importance, though, proper book keeping can often fall to the way side. For this reason we provide a number of resource articles, along with book keeping and accounting services.
            </p>
<div class="container">
            <div class="row justify-content-center">
                <ul class="list-group align-self-center bg-white list-group-card">
                    <li class="list-group-item">Further Reading</li>
                    <li class="list-group-item"><a href="/Book-Keeping/Cash-vs-Accrual">Cash vs. Accrual</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Business-Vehicle">Vehicle</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Bartering">Bartering</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Depreciation">Depreciation</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Payroll">Payroll</a></li>
                </ul>
            </div>

</p>
        </div>

            </div>
        </div>

            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Get a Registered Agent</button></a>
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Create a Company</button></a>
    </div>
</div>
{% endblock %}}
