{% extends "master.html" %}

{% block content %}
<header id="first">
<div class="container mega-margin-top-5 pt-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center mt-4 pt-5">
                <div class="feature">
                    <i class="fa fa-university fa-5x wow fadeIn text-light" data-wow-delay=".1s"></i>
                    <h6 class="mt-4 text-uppercase text-light raleway-font">Local Filings</h6>
                    <p>Let Us Do It</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mt-4 pt-5">
                <div class="feature">
                    <i class="fa fa-book fa-5x wow fadeIn text-light" data-wow-delay=".1s"></i>
                    <h6 class="mt-4 text-uppercase text-light raleway-font">Book Keeping</h6>
                    <p>$25 Per Hour</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mt-4 pt-5">
                <div class="feature">
                    <i class="fa fa-line-chart fa-5x wow fadeIn text-light" data-wow-delay=".1s"></i>
                    <h6 class="mt-4 text-uppercase text-light raleway-font">Retirement Plans</h6>
                    <p>Solo & Self-Directed 401k</p>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="one" class="neg-margin-top-5">
    <div class="container wow fadeInUp">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="list-group align-self-center bg-white list-group-card">
                    <li class="list-group-item">Allow Us To:</li>
                    <li class="list-group-item">Form Your Company</li>
                    <li class="list-group-item">Handle Your Mail</li>
                    <li class="list-group-item">Keep Your Books</li>
                    <li class="list-group-item">& More</li>
                </ul>
            </div>
            <div class="row justify-content-center mt-3">
                <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Order</button></a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h3 class="mt-3 text-primary raleway-font">Keeping The Books</h3>
                <hr class="primary">


           <p>
When you start a small business, your initial enthusiasm, drive, and energy probably will be focused on translating your product or service into a profit-making venture. Setting up bookkeeping systems, including those for business tax reporting and filing, may be low on your list of priorities. While that is understandable, it is not wise, since inadequate bookkeeping could be costly - in terms of time and money - in the long run.
<br><Br>
A formal process is an absolute requirement, particularly if there are multiple clients and purchases, and perhaps even subcontractors. At that point, most people seek help, or take a course or two in bookkeeping. It gets rather complicated, and becomes time consuming.
<br><Br>
                <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h3 class="mt-3 text-primary raleway-font">Book Keeping Services</h3>
                <hr class="primary"><p> If you find the idea of keeping your own books boring or intimidating, then you can contract our bookkeeping services. A good service can keep you from making mistakes that invite audit by the IRS.
<br><Br>

                <b>Decide on A Structure</b><br>
Before you start your business, view our pages on the types of business structures (sole proprietorship, partnership, limited liability company, and corporation) and the advantages and disadvantages of each. How you structure your business will affect your bookkeeping, including how you account for your business's revenue and costs and your tax reporting. It also can affect your personal exposure with regard to business liabilities. If in doubt, consult your business attorney and/or accountant about which structure is best for your business and why.
<br><Br>
<b>Get Professional Help</b><br>
Whatever business structure you choose, but especially if your business will be a corporation, talk to your accountant. Find out what records you need to keep and what expenses are deductible. Also discuss whether you should pay yourself a salary and, if so, how much it should be. This can be an important issue, because, in some cases, the IRS may construe not taking a salary as a way to avoid payroll taxes. In addition, your accountant can explain what tax payments and filings your business will have to make.
<br><Br>
<b>Open a Bank Account</b><br>
Having a separate bank account for your business is essential because mingling business and personal income and expenses can cause confusion and result in costly errors in your tax reporting.
<br><Br>
<b>Take Taxes Seriously</b><br>
Many new businesses run into financial trouble because they don't understand their tax filing responsibilities. This is understandable; not only may your business have to pay federal income, payroll and unemployment taxes, but it will probably be responsible for state and local income taxes and state unemployment taxes, may have to pay state sales taxes and disability taxes, and perhaps will be liable for other state or local business taxes and fees.
<br><Br>
Whether you or your accountant handle the tax filings for your business, you will be responsible for providing the necessary data to support them, and this information must be available on a timely basis. Therefore, ask your accountant for a thorough tax tutorial. Many tax returns and payments can be completed online these days through secure federal, state, and local websites. As daunting as the tax system may seem, once you understand your tax liabilities and are registered online, the actual filing process often is relatively quick and easy.
<br><Br>
<b>Keep Your Books Current</b><br>
Accurate and up-to-date bookkeeping is necessary for a successful business. Therefore, even if you dread this chore, set aside time to update your business's books on a regular basis, perhaps once a week.
<br><Br>
Bookkeeping
<br><Br>
Expense Records: Careful and accurate records of your expenses are very important for tax purposes. If you use the manual method, something other than a shoe box is required. If you use an accounting program or a bookkeeping service, most of the solutions to the problems are presented in such a fashion that you are encouraged to keep good records. Expense records are divided into the following classes:
<br><Br>
NOTE: In general, it is better not to pay in cash for any business activity. A check or a credit card receipt provides not only proof of the expenditure, but also provides space for notes about the nature of the expense.
<br><Br>
1. Mileage Expenses - Keep a mileage log on the vehicle that you use for business transportation, and keep it up to date. (The Internal Revenue Service rules are very specific on this point, and, if you are audited, it is one of the points that will almost certainly be checked.) This log may be on your computer, but it must be kept up to date. If you use a vehicle that is owned or leased by your business, and you do not use it for private purposes, all of the expenses for that vehicle are deductible as business expenses. If you use your personal vehicle for business transportation, you may reimburse your personal account for mileage from your business account at the current mileage rate allowed by tax rules. (Check with your tax accountant for the current rate.) If you do this, you need not pay withholding and self-employment tax on the full amount, and you may use that amount as a business tax deduction.
<br><Br>
2. Other Travel Expenses - Keep records of all business travel by means other than your private or business vehicle, noting who, when, where, and for what purpose. If you travel to distant places for business calls, and the travel costs are substantial, the accuracy of these records is even more important.
<br><Br>
3. Telephone Expenses - If your office is located away from your home, and you have a business telephone in that office, the service charges and toll expenses for that telephone are legitimate business expenses and are entirely deductible. If your office is in your home, and you pay for your telephone from your personal account, part of that telephone expense is also a legitimate business expense and is deductible. When you receive your telephone bill each month, compare it with your telephone log, mark each business call, and record the business total. You may then reimburse your personal account for those business calls and not pay withholding and self-employment tax on that amount. Keep the telephone bills as parts of your tax records. If you keep the bills as parts of your personal tax records, make certain that these are available in the event of a business tax audit, and vice versa.
<br><Br>
4. Miscellaneous Business Expenses - Keep receipts on everything that you purchase for the business. This includes all work supplies as well as capital equipment. Do not overlook any items, no matter how small. Even paper clips and rubber bands add to your expense load, so take all of the tax advantage that you can.
<br><Br>
5. Entertainment Expenses - Keep very good records on business meals and other entertainment expenses, noting who, when, where, and for what purpose. Ask for a receipt at each expenditure and note the circumstances on or with the receipt. Entertainment expenses are almost always scrutinized by the Internal Revenue Service. Talk with your tax accountant so that you understand the rules before incurring significant entertainment expenses.
<br><Br>
                 <p>
<div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h5 class="mt-3 text-primary raleway-font">Parting Thoughts</h5>
                <hr class="primary"><p>Preparing proper financial reports is imperative. They act as your financial dashboard and should drive decision making. Even with this importance, though, proper book keeping can often fall to the way side. For this reason we provide a number of resource articles, along with book keeping and accounting services.
            </p>
<div class="container">
            <div class="row justify-content-center">
                <ul class="list-group align-self-center bg-white list-group-card">
                    <li class="list-group-item">Further Reading</li>
                    <li class="list-group-item"><a href="/Book-Keeping/Cash-vs-Accrual">Cash vs. Accrual</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Business-Vehicle">Vehicle</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Bartering">Bartering</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Depreciation">Depreciation</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Payroll">Payroll</a></li>
                </ul>
            </div>

</p>
        </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Get a Registered Agent</button></a>
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Create a Company</button></a>
    </div>
</div>
{% endblock %}}
