{% extends "master.html" %}

{% block content %}
<div class="container mega-margin-top-5 pt-5">
    <div class="row justify-content-center pt-5">
        <div class="row justify-content-center">
        <h1>Payroll</h1>
        <hr class="primary">
        <p class="mt-3"></p>
    </div>




        <div class="row justify-content-center text-center">
            <p>

Dealing with the Internal Revenue Service as a small business owner can be stressful at times. With knowledge (learning from mistakes and making changes) and perseverance it can be done successfully. Many people have great ideas about a good business but do not have a clue as to how to run one. This is only one of the many reasons new businesses fail, but an important one. A good Certified Public Accountant was essential for us.
<br><Br>
                <b>Planning to pay on time</b>
<br><Br>


Payroll withholding taxes have to be paid. (sooner or later) Each business, based on the amount of payroll, is assigned a time for depositing payroll withholding taxes. Our business employed from 3 to 9 people at any given time and we were assigned a monthly time frame for deposits. This seems reasonable, until there is no money. Rent, utilities and employees have to be paid. We were a service orientated company so it was important as well to keep our suppliers paid. We could not work if we had no supplies with which to work. Somewhere in there the IRS has to be paid. Being the Owner means you are at the bottom of the "food chain". You may read differently or be told differently, but in reality........the Owner is at the bottom of the list!


<br><Br>
                <b>It works in theory</b>

<br><Br>

In school accounting class there is an orderly process for paying expenses and the taxes are always high on the list. This works because there is always enough money in the bank to pay the bills. It works that way - there. But, what about real life? Business has its ups and downs and what do you do in the down times?

<br><Br>

                <b>Living through the "down" times</b>

<br><Br>

The IRS would prefer to have their money on time. They do not always get it. There are penalties and interest to be paid on late payments, but, this is not necessarily a bad thing. One year we used the tax deposit monies to make payroll (for the employees) for a period of about 4 months. The taxes were paid by the year end. We ran an audit on how much it cost us to use the IRS money versus what it would have cost us to borrow that money from the bank. It was a lot cheaper than the bank would have charged us! A "line of credit" for a small business by a bank is not as good as the bank would have you believe. They are not necessarily "your friend" and will make their money at your expense, whereas, the IRS just asks you to pay their share.

<br><Br>

                <b>Always have a plan "B"</b>

<br><Br>

This is very important! Always have a plan B. The taxes must be paid in full or mostly paid by the year end. There is no getting around it, that is just the way it is. Whether extra work, credit card (careful here) or lastly borrowing from the bank is the plan B, we always knew how we were going to cover the expense of taxes. Our work would usually slow down for only a few months so by the year end the income was sufficient to cover the current tax and past tax expense. One year we did carry a balance forward into the following year and caught it up. This created extra penalties and interest expense, but we did it successfully.

<br><Br>

                <b>Filing reports on time (with or without the money)</b>

<br><Br>

One of the major things I learned about the IRS is to file the reports on time, whether we had the money or not! There are several points of contact (offices) all over the United States that deal with payroll tax deductions and here "the right hand surely does not know what the left hand is doing". You are not dealing with a person, you are dealing with a computer. Thus, the importance of the dates. Never, I repeat never confuse them! It takes years to get the mess straightened out! Of course I learned this from experience. There are HUGE penalties for filing the reports late. There is absolutely no excuse for this expense since the money does not have to be paid with the report.

<br><Br>

                <b>Using a good Certified Public Accountant</b>

<br><Br>

A good one is hard to find. We used 4 before we finally found one that did what he said he would do for us. We used him for monitoring our business throughout the year, our quarterly reports and filings and reports for the year end. We were a Corporation and there is a lot of information needed. The CPA was invaluable to us and gave us helpful information and a "heads up" when we were about to get into trouble.

<br><Br>

                <b>Why is this important anyway?</b>

<br><Br>

In a small service business, payroll is 60% to 80% of the expenses of the entire company. Federal and State taxes are a large part of the balance of the expenses. Uncle Sam was the highest paid employee and with due diligence you can keep him happy!
            </p></div></div>
                <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h5 class="mt-3 text-primary raleway-font">Parting Thoughts</h5>
                <hr class="primary"><p>Preparing proper financial reports is imperative. They act as your financial dashboard and should drive decision making. Even with this importance, though, proper book keeping can often fall to the way side. For this reason we provide a number of resource articles, along with book keeping and accounting services.
            </p>
<div class="container">
            <div class="row justify-content-center">
                <ul class="list-group align-self-center bg-white list-group-card">
                    <li class="list-group-item">Further Reading</li>
                    <li class="list-group-item"><a href="/Book-Keeping/Cash-vs-Accrual">Cash vs. Accrual</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Business-Vehicle">Vehicle</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Bartering">Bartering</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Depreciation">Depreciation</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Payroll">Payroll</a></li>
                </ul>
            </div>

</p>
        </div>

            </div>
</p>
        </div>

            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Get a Registered Agent</button></a>
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Create a Company</button></a>
    </div>
</div>
{% endblock %}}
