{% extends "master.html" %}

{% block content %}
<div class="container mega-margin-top-5 pt-5">
    <div class="row justify-content-center pt-5">


            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h1 class="mt-3 text-primary raleway-font">How to Deduct a Vehicle</h1>
                <hr class="primary">
            </div>
        </div>

        <div class="row justify-content-center text-center">
            <p>

If you own a small business or home-based enterprise, you may already be aware of the tax advantages of claiming a vehicle's operating expenses as an allowable business expense on your taxes. If you don't, however, read on, and I'll save you some money today. Business expenses are those expenses which are necessary to conduct business.
<br><br>
Expenses can include paper clips, fax machine purchases, and even entertainment for clients. We're talking about your car, though, so we'll go into what it takes to deduct a vehicle's expenses from your taxed bottom line. First, the vehicle doesn't necessarily have to be 100% business use, but your tax deductible usage must be. You can't deduct the trip to your grandmother's house, but you can keep track of, and deduct the expenses associated with your business. If the standard vehicle deduction in the year you are claiming the deduction is 50 cents per mile, for instance, use a notebook to log the mileage you rack up while commuting to trade shows, office supply stores, and client meetings. At the end of the year, if you've logged 2,500 miles, your deduction will be $1,250.00.

<br><br>
If you use the vehicle for both business and personal use, this standard deduction will be the easiest way to go to keep your taxes as stress-free as possible. If the vehicle is strictly business use, though, you can keep track of all the incidental expenses of the vehicle, such as oil changes, fuel fill-ups, windshield wipers, tires, etc, and deduct all of these, as long as you keep all the deductions on the up-and-up. The IRS doesn't think much of people who cheat on the rules.

<br><br>
Claiming the depreciation of the vehicle is a difficult task only if you don't understand how to do it. Slowing down reading about it, you will be able to see it for how simple it actually is. Depending upon when the vehicle was put into business service, you can use what is called Modified Accelerated Cost Recovery System. Under this system, tax law gives you five years of accelerated depreciation on the vehicle so long as it was put into service after 1986. However, you cannot take this deduction if you use the vehicle for business purposes less than 50% of the time. If this is the case, use the straight-line method for your standard five year depreciation. It'll be easier, anyway

<br><br>
For vehicle repairs, use actual cost method, and be sure to keep all your receipts, because if an audit does happen, the IRS isn't going to accept "oops" as a valid reason for not producing proper documentation.
            </p></div></div></div>
       <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h5 class="mt-3 text-primary raleway-font">Parting Thoughts</h5>
                <hr class="primary"><p>Preparing proper financial reports is imperative. They act as your financial dashboard and should drive decision making. Even with this importance, though, proper book keeping can often fall to the way side. For this reason we provide a number of resource articles, along with book keeping and accounting services.
            </p>
<div class="container">
            <div class="row justify-content-center">
                <ul class="list-group align-self-center bg-white list-group-card">
                    <li class="list-group-item">Further Reading</li>
                    <li class="list-group-item"><a href="/Book-Keeping/Cash-vs-Accrual">Cash vs. Accrual</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Business-Vehicle">Vehicle</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Bartering">Bartering</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Depreciation">Depreciation</a></li>
                    <li class="list-group-item"><a href="/Book-Keeping/Payroll">Payroll</a></li>
                </ul>
            </div>

</p>
        </div>

            </div> </div>

            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Get a Registered Agent</button></a>
        <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Create a Company</button></a>
    </div>
</div>
{% endblock %}}
