<div class="row links-grid">
  <div class="col-12 text-center">
    <span class="links-section-headline">Navigation</span>
  </div>
  <div class="col-12">
    <div class="row d-flex justify-content-between text-center">
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('index') }}">Form an LLC in Wyoming</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('anonymous') }}">Anonymous Wyoming LLCs</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('requirements') }}">Wyoming LLC Requirements</a>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('holding_company') }}">Wyoming Holding Company</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_oa') }}">Wyoming LLC Operating Agreement</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_member') }}">Single Member LLC</a>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_proprietorship') }}"
          >LLC vs. Sole-Proprietorship</a
        >
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_taxes') }}">Wyoming LLC Taxes</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('agent') }}">Wyoming Registered Agent</a>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('agent_certificate') }}"
          >Wyoming Resellers Certificate</a
        >
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_corporations') }}">Wyoming Corporations</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_trust') }}">Wyoming Asset Protection Trust</a>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('vo_index') }}">Wyoming Virtual Office</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('vo_mail_forwarding') }}"
          >Wyoming Mail Forwarding</a
        >
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('llc_fees') }}">Wyoming LLC Annual Fees</a>
      </div>
    </div>
  </div>
</div>
