.back {
  position: absolute;
  top: 250px;
  left: 40px;
  width: 100px;
  width: auto;
  font-family: $raleway;
  @media (max-width: $xl) {
    display: none;
  }
  &.godown {
    top: 450px;
  }
  & ul {
    display: block;
    margin-bottom: 0;
    list-style: none;
    &.nav-history {
      padding-left: 36px;
      padding-top: 25px;
      transform: translateY(0);
      pointer-events: auto;
      & li {
        margin-bottom: 8px;
        &::after {
          content: "";
          position: absolute;
          left: 12px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $brand_color;
          transform: translateY(6px);
          transition: all 0.2s ease;
        }
        &:last-of-type::after {
          background: #5a667f;
        }
        &:not(:last-child)::before {
          content: "";
          position: absolute;
          left: 17px;
          margin-top: 10px;
          width: 2px;
          height: 28px;
          background: #e8eaed;
          transition: all 0.2s ease;
        }
        &.active {
          pointer-events: none;
          &::after {
            background: #e8eaed;
          }
          & a {
            color: #5a667f;
          }
        }
        & a {
          color: $brand_color;
          display: inline-block;
          transition: all 0.2s ease;
          font-family: $raleway;
          transform: translateY(0);
          &:hover {
            color: lighten($brand_color, 10%);
          }
        }
      }
    }
    &.nav-links {
      position: relative;
      margin-top: 20px;
      padding-left: 12px;
      transform: translateY(0);
      pointer-events: auto;
      & li {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        & a {
          font-size: 14px;
          font-weight: 600;
          color: #c8ccd4;
          transition: color 0.2s ease;
          &:hover {
            color: #9098a9;
          }
        }
      }
    }
  }
  & li {
    white-space: nowrap;
    &:last-of-type a {
      color: grey !important;
      pointer-events: none;
    }
  }
  & a {
    text-decoration: none;
    font-weight: 500;
  }
  & .btn-back {
    display: inline-block;
    & div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: lighten($brand_color, 70%);
      float: left;
      & svg {
        fill: none;
      }
    }
    & svg path,
    svg polyline {
      stroke: black;
      stroke-width: 2;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    & span {
      display: inline-block;
      color: lighten($brand_color, 10%);
      margin-left: 10px;
      line-height: 34px;
      transform: translateX(0);
      transition: all 0.2s ease;
      &:hover {
        color: $brand_color;
      }
    }
  }
}
