.contact-form-wrapper {
  border-radius: 5px;
  font-size: 14px;
  border: 3px solid $brand_color;
  & > * {
    padding: 20px;
  }
  & .contact-form,
  .contact-info {
    @media (min-width: $md) {
      border-right: 3px solid $brand_color;
    }
    & .form-heading {
      font-family: $flamenco;
      font-weight: 700;
      font-size: 30px;
      margin-top: 20px;
      color: darken($brand_color, 10%);
    }
    & .contact-fields {
      display: block;
      width: 100%;
      & > * {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      & .fields-required {
        text-align: right;
        font-weight: bold;
        &::before {
          display: inline-block;
          content: "*";
          color: orangered;
          margin-right: 3px;
        }
      }
    }
    & .contact-details {
      // font-family: $flamenco;
      & li {
        display: flex;
        font-size: 18px;
        // margin: 15px 0;
        font-weight: 600;
        color: $brand_color;
        transition: all 0.35s;
        & a {
          transition: all 0.35s;
          color: grey;
          white-space: nowrap;
          &:hover {
            margin-left: 10px;
            text-decoration: none;
            font-weight: 600;
          }
          &::before {
            display: inline-block;
            content: "\000BB";
            margin-right: 8px;
            font-size: 24px;
          }
        }
      }
    }
  }
}

.input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: lighten($brand_color, 10%);
  color: #fff !important;
  font-size: 14px;
  transition: all 0.2s linear;
  line-height: 1.5;
  &::placeholder {
    color: #fff;
  }
  &:focus {
    background-color: $brand_color;
    box-shadow: 0 0 0 0.2rem lighten($brand_color, 10%);
  }
}

.textarea {
  width: 100%;
  height: auto;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: lighten($brand_color, 10%);
  color: #fff !important;
  font-size: 14px;
  transition: all 0.2s linear;
  line-height: 1.5;
  resize: none;
  &::placeholder {
    color: #fff;
  }
  &:focus {
    background-color: $brand_color;
    box-shadow: 0 0 0 0.2rem lighten($brand_color, 10%);
  }
}

.submit-message {
  border-radius: 7px;
  outline: 0;
  border: none !important;
  background: lighten($brand_color, 10%);
  margin-bottom: 15px;
  color: #fff !important;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: all 0.2s linear;
  &:hover,
  &:active {
    background: $brand_color;
  }
}
