footer {
  padding: 50px 0;
  & .footer-text {
    color: $brand_color;
    font-size: 20px;
  }
  & .social-item {
    color: #b3b3bf;
    margin-right: 1rem;
    transition: all 0.15s linear;
    & img {
      width: 16px;
      margin-right: 5px;
    }
    &:first-child {
      & img {
        width: 12px;
      }
    }
    &:hover {
      transform: scale(1.05);
      color: $brand_color;
      font-weight: bold;
    }
  }
}
