.company-info {
  width: fit-content;
  text-align: center;
  // & img {
  //     width: 250px;
  //     height: 250px;
  // }
  & > * {
    font-family: $flamenco;
    color: darken($brand_color, 10%);
  }
}

section#first, header#first {
  background-color: #298ab7;
  padding: 43px 0;
  & img {
    width: 70px;
    height: 70px;
    animation-delay: 0.1s;
    animation-name: fadeIn;
  }
  & span {
    margin-top: 10px;
    color: #fff;
    font-family: $flamenco;
    text-align: center;
    font-weight: 700;
  }
}

section#intro {
  & .list-group-card {
    position: relative;
    top: -20px;
    width: fit-content;
    color: #2c3970;
    border: none;
    box-shadow: 10px 10px 5px rgba(13, 71, 161, 0.1);
    border-left: 3px solid $brand_color;
    border-radius: 0;
  }
  & .btn-order-now {
    display: block;
    width: fit-content;
    text-align: center;
    border: 1px solid $brand_color;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: all 0.2s linear;
    & > * {
      color: $brand_color;
    }
    & .text-capitalize {
      font-size: 1.25rem;
      line-height: 1.5;
    }
    & .text-uppercase {
      font-family: $flamenco;
      font-size: 13px;
      font-weight: 700;
    }
    &:hover {
      background-color: $brand_color;
      & * {
        color: #fff;
      }
    }
  }
}

// pricing card
.pricing-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  transition: all 0.2s linear;
  &:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
  }
  & .card-head {
    display: block;
    text-align: center;
    & > * {
      text-align: center;
    }
    & p {
      font-size: 24px;
      font-weight: bold;
      font-family: $flamenco;
      margin: 0;
    }
    & small {
      font-size: 80%;
    }
  }
  & hr {
    margin: 1.5rem 0;
  }
  & ul {
    margin-left: 14px;
    margin-bottom: 30px;
  }
  & .card-btn {
    position: relative;
    bottom: 0;
    left: 0;
    display: block;
    font-family: $flamenco;
    font-size: 80%;
    width: 150px;
    border-radius: 5rem;
    font-weight: 700;
    padding: 10px;
    opacity: 0.7;
    transition: all 0.2s;
    background: $brand_color;
    color: #fff;
    margin: 20px auto 0;
  }
  &:hover .card-btn {
    opacity: 1;
  }
}

.page-section {
  margin: 50px 0;
}
