.links-grid {
  & a {
    color: $brand_color;
    transition: all 0.2s linear;
    font-weight: 500;
    &:hover {
      color: #222;
      text-decoration: underline;
    }
  }

  & > .col-12 {
    &:first-child {
      border-top: 1px solid #dee2e6;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    & > .row > .col-12 {
      border-top: 1px solid #dee2e6;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}

// links block headline
.links-section-headline {
  font-size: 28px;
  font-weight: 700;
  font-family: $flamenco;
  color: darken($brand_color, 10%);
  width: 100%;
}
