nav.navbar {
  position: sticky;
  top: 0;
  font-family: $raleway;
  padding: 0.5rem 1rem;
  min-height: 60px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 9999;
  & .navbar-brand {
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (min-width: $lg) {
      padding: 0;
    }
  }

  & .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.15);
    & .navbar-toggler-icon {
      width: auto;
      height: auto;
      & .material-icons {
        color: $brand_color;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }

  & .navbar-nav {
    @media (min-width: $lg) {
      align-items: center;
    }
    & .nav-item {
      padding: 0;
      margin-right: 12px;
      @media (max-width: $lg) {
        margin-bottom: 12px;
      }
      & .nav-link {
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $gray;
        transition: all 0.2s linear;
        &:hover {
          color: $gray_hover;
        }
      }
      &.dropdown {
        & .dropdown-menu {
          top: 30px;
          transition: all 0.2s linear;
          & .dropdown-item {
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            color: $gray;
            transition: all 0.2s linear;
            &:hover {
              color: $gray_hover;
            }
          }
        }
      }
    }
  }
}

.call-btn {
  font-family: $raleway;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  color: $brand_color;
  background-color: #eee;
  text-decoration: none;
  letter-spacing: 1.1px;
  padding: 0.5rem;
}

.btn-order {
  background-color: $brand_color;
  text-transform: uppercase;
  font-family: $raleway;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.1px;
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 140px;
}
