h1, .h1 {
    font-weight: 600;
}

.text-primary-brand {
    color: $brand_color;
    font-family: $flamenco;
}

.boxed {
    box-sizing: content-box;
    padding: 10px;
    border: 3px solid $brand_color;
}

section {
    & .section-title {
        text-align: center;
        color: $brand_color;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $flamenco;
        font-size: 1rem;
    }
    & .sub-section {
        text-align: left;
        font-weight: 400;
    }
    & p {
        font-size: 17px;
        margin-top: 10px;
        font-family: $libre;
        text-align: justify;
        & a {
            color: $brand_color;
            transition: all .15s linear;
            &:hover {
                color: currentColor;
                text-decoration: underline;
            }
        }
    }
    & ol,ul {
        & li {
            text-align: left;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.bigger {
    line-height: initial;
    font-size: 24px;
    margin: 0 4px;
}

p {
    font-size: 17px;
    margin-top: 10px;
    font-family: "Libre Baskerville", serif;
    text-align: justify;
}