<title>{{ title }}</title>
<meta
  name="description"
  content="Wyoming corporations are legal entities that are completely separate, and distinct, from their owners."
/>

<!-- Json-LD Breadcrumb -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/",
          "name": "New Mexico LLC"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/Form-a-Wyoming-Corporation",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>
<!-- Json-LD Breadcrumb end -->

{% extends "master/index.html" %} {% block content %}

<div class="back">
  <a href="{{ url_for('index') }}" class="btn-back">
    <div>
      <svg width="16px" height="14px" viewBox="0 0 16 14">
        <path d="M1,7 L15,7"></path>
        <polyline points="7 1 1 7 7 13"></polyline>
      </svg>
    </div>
    <span>Home</span>
  </a>
  <div class="menu-back">
    <ul class="nav-history">
      {% include "links/bread/index.html" %}
      <li>
        <a> {{ title }} </a>
      </li>
    </ul>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center mt-3">
        <h2 class="text-primary-brand">{{ title }}</h2>
        <hr />
        <p>
            Wyoming corporations are legal entities that are completely separate, and distinct, from their owners. There are many similar rights and responsibilities to individuals that corporations enjoy. This includes entering contracts, loaning and borrowing money, suing, hiring employees, owning assets, and paying taxes. 
        </p>
        <p>
            Most corporations are owned by “shareholders”. These shares might be privately held, meaning only by a few people, or publicly offered for sale. For private corporations, they can be set up either as non-profit or for-profit. The largest difference between a corporation and an individual is taxation. In Wyoming, corporations are taxed separately from their owners at a corporate tax rate. Corporations must pay taxes based on the net income or profits each year.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
            How Corporations Work
        </h4>
        <p>
            The process of starting a Wyoming corporation is called "incorporating". It occurs by a group of shareholders coming together to represent their holding of common stock.
        </p>
        <p>
            In the first step of incorporating you must have documents prepared and filed, along with drafting corporate bylaws. Many people prefer to have a lawyer do this, to ensure that they are prepared accordingly. 
        </p>
        <p>
            The next step involved in forming a corporation is to draft a governing policy and submit articles of incorporation to the state in which you plan to do business. 
        </p>
        <p>
            Finally, you will need to elect officers. This will include a board of directors to set policy and ensure that the corporation is acting according to the bylaws and overall purpose. The board will also ensure that all federal, state, local rules, and regulations are followed.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Why Form a Corporation?</h5>
        <p>
            Wyoming corporations are typically formed to limit the liability of the owners. The difference between a sole proprietorship or partnership is that as an owner you are personally liable for any debts or liabilities of the business. Forming a corporation allows you to protect your personal assets.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">Different Types of Corporations</h4>
        <p>
            There are three main basic types of corporations, S Corps, C Corps, and nonprofits. These different types of corporations vary in how they are governed and, more importantly, how they are taxed.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">S Corp</h5>
        <p>
            If you elect to be taxed as a Subchapter S corporation in Wyoming, you will need to notify the IRS of this election. Profits will then be taxed when they are passed down to shareholders. In turn, shareholders report those profits and deductions on their own personal returns, rather than paying taxes as a corporation.
        </p>
        <p>
            Restrictions do apply for S corps, including:
        </p>
        <ul>
            <li>
                Must be a domestic corporation.
            </li>
            <li>
                Cannot have more than 100 shareholders.
            </li>
            <li>
                Shareholders must be individuals, trusts, or estates.
            </li>
            <li>
                Partnerships and other corporations do not qualify as shareholders.
            </li>
            <li>
                All shareholders must be residents of the United States.
            </li>
            <li>
                May only be one class of stock.
            </li>
        </ul>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">C Corp</h5>
        <p>
            Known as the most common form of a corporation, Wyoming C Corps are a bit less desirable than an S Corp, due to double taxation. Double taxation occurs when a corporation is taxed on its profits, and then the owners are additionally taxed on what they receive as profit. C corporations are not legally allowed to claim a deduction for profits passed on to shareholders.
        </p>
        <p>
            The only loophole is for any shares that are held by religious organizations, in retirement accounts (such as a 401k), or by education institutions.
        </p>
        <p>
            Despite this, the debts and liabilities of c corporations are separate from owners. This provides something referred to as a “corporate shield” because the corporation offers safety for employees from personal liability.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Non-Profit</h5>
        <p>
            Most commonly used by charities, educational corporations, or religious organizations, non-profit organizations are able to operate without generating profits. This also means that a non-profit corporation is exempt from taxation. Any monetary contributions or donations will be not taxed and will be retained by the corporation. This means any revenue can be spent on operations, which includes paying its employees.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">LLC</h5>
        <p>
            Limited liability companies are a type of corporation, but the main difference is that they are owned by one or more people, whereas a corporation is owned by shareholders. Wyoming LLCs continue to offer protection in terms of personal liability and tax benefits.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">Advantages of a Corporation</h4>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Separate Legal Entity</h5>
        <p>
            Corporations are independent of their owners. This means that as a legal entity, corporations may conduct business, own properties, and even borrow money on its own. Corporations can also sue, be sued, and they of course pay taxes.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Limited Liability</h5>
        <p>
            As an investor or owner of a corporation, you are only liable for the money you put into it. This means that if something goes downhill in terms of a loan, or the corporation is sued, your personal assets will be protected. 
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Easy Transfer of Shares</h5>
        <p>
            Owners of stock in a publicly held corporation can transfer ownership whenever they choose. This means that without any approval from other stockholders, they may sell their share of the stocks. This facilitates the trading of stock on the market, regardless of volume.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Unlimited Life</h5>
        <p>
            Although there are stockholders as members of a corporation, regardless of if someone passes away or is not able to perform their duties, the corporation lives on. The only difference that will incur is the company’s charter can be extended or completely liquidated.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Competent Management</h5>
        <p>
            In a corporation typically the board of directors is voted for ahead of time, and then a professional management team will be hired. Although investors or owners may not work directly in the business on a day-to-day basis, there is a board of directors that can do so for them.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Source of Capital</h5>
        <p>
            Corporations have the most ideal formation set up in order to source funds. This can be done simply by selling stocks and issuing bonds.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">Disadvantages of a Corporation</h4>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Incorporation Costs</h5>
        <p>
            Setting up a corporation is more expensive than setting up a partnership or sole proprietorship.    
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Double Taxation</h5>
        <p>
            In the case of a C Corp double taxation occurs, taking earning from both the corporate side, as well as from the shareholders.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Reporting</h5>
        <p>
            Not only are incorporation documents required to start a corporation, but companies must also file annual reports and tax returns. On top of that, accounting records must be impeccably kept, along with licensing and other documents.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">Should You Start a Corporation?</h4>
        <p>
            Overall establishing a corporation allows you to obtain credibility and professionalism. Forming a Wyoming corporation also limits the liability of its owners, rather than leaving them personally liable in instances of debt collections or being sued. If you want to keep your personal assets safe, you should establish some form of a corporation over a partnership or sole-proprietorship. If you are considering starting a corporation in Wyoming, <a href="https://wyomingllcattorney.com/#contact" target="_blank">speak with an attorney</a> today! 
        </p>
      </div>

    </div>
  </div>
</section>

<section id="navigation" class="mb-50">
  <div class="container py-5">{% include "links/index.html" %}</div>
</section>

{% endblock %}
