<title>{{ title }}</title>
<meta
  name="description"
  content="Holding companies own assets of other companies. Wyoming holding companies typically do not physically produce goods or services, but they do own shares or assets of companies that do."
/>

<!-- Json-LD Breadcrumb -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/",
          "name": "New Mexico LLC"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/Wyoming-Holding-Company",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>
<!-- Json-LD Breadcrumb end -->

{% extends "master/index.html" %} {% block content %}

<div class="back">
  <a href="{{ url_for('index') }}" class="btn-back">
    <div>
      <svg width="16px" height="14px" viewBox="0 0 16 14">
        <path d="M1,7 L15,7"></path>
        <polyline points="7 1 1 7 7 13"></polyline>
      </svg>
    </div>
    <span>Home</span>
  </a>
  <div class="menu-back">
    <ul class="nav-history">
      {% include "links/bread/index.html" %}
      <li>
        <a> {{ title }} </a>
      </li>
    </ul>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center mt-3">
        <h2 class="text-primary-brand">{{ title }}</h2>
        <hr />
        <p>
          Holding companies own assets of other companies. Wyoming holding
          companies typically do not physically produce goods or services, but
          they do own shares or assets of companies that do. This comes together
          to form a corporate group.
        </p>
        <p>
          A holding company is formed to gain control over one or more other
          companies. They might also own property. This can include real estate,
          patents, trademarks, stocks, or other forms of assets.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">How It Works</h4>
        <p>
          There are two methods through which a corporation can become a Wyoming
          holding company.
        </p>
        <ol>
          <li>
            Acquiring enough voting stock or shares in another company. This
            means the company that is acquiring will be given the power to
            control the activities of the other company.
          </li>
          <li>
            Creating a new corporation, but retaining all or part of the new
            corporation’s shares.
          </li>
        </ol>
        <p>
          It is important to note that although owning more than 50% of the
          stock of another corporation guarantees control, a parent company can
          still ultimately control the decision-making process with only 10% of
          its own stock.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Different Types of Holding Companies
        </h4>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Pure</h5>
        <p>
          When a Wyoming holding company is considered pure, it means that it
          was formed for the purpose of owning stock in other companies. This
          means that the holding company does not do any other business other
          than controlling other firms.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Mixed</h5>
        <p>
          Wyoming holding companies that are considered mixed control other
          firms along with their own operations. These are known as a
          holding-operating company.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Immediate</h5>
        <p>
          An immediate Wyoming holding company is when one company retains
          either voting stock or control of another company. It becomes an
          immediate holding company only when it is already controlled by
          another entity.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Intermediate</h5>
        <p>
          An intermediate holding is a firm that is a Wyoming holding company of
          a different entity but also held by a larger corporation. Intermediate
          holding firms often are exempt from publishing financial records of
          the company they hold.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Advantages of a Holding Company
        </h4>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Liability Protection</h5>
        <p>
          When you form a Wyoming holding company you are essentially placing
          operating companies and the assets that they use in different
          entities. This provides a liability shield because the debts of each
          subsidiary only belong to that subsidiary.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          Control Assets for Less Money
        </h5>
        <p>
          Because holding companies are able to control their own assets, they
          can do so simply by purchasing 51% or more of the subsidiary. This
          means that the holding company will gain full control of the acquired
          firm, but save money by purchasing far less than 100%. This will allow
          you to gain control of multiple entities with a very small investment.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          Lower Debt Financing Costs
        </h5>
        <p>
          When you are operating as a Wyoming holding company, you will obtain
          the ability to lower interest rates on loans. This is typically more
          than an operating company could do on its own. It also provides the
          ability to obtain capital when a venture is considered a risk. Rather
          than the subsidiary obtaining a loan with higher interest, the holding
          company can do so and distribute the funds to the subsidiary.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Disadvantages of Holding Companies
        </h4>
        <ul>
          <li>
            <b>Complexity:</b> The use of holding companies and subsidiaries
            does add a layer of complexity that is not found in a simple single
            entity situation. It is essential to keep track of all information,
            keep good records, and note due dates for all of the different
            companies.
          </li>
          <li>
            <b>Compliance Costs:</b> When you form a holding company you will be
            required to pay compliance costs in the form of formation fees.
            There may also be extra fees and tax obligations, along with rules
            for forming an LLC. The only way to avoid these additional costs is
            to form as a single entity.
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          How to Set Up a Holding Company
        </h4>
        <p>
          After you decide to form a Wyoming holding company, you will need to
          go through the steps to actually set it up. The process is not
          incredibly complicated, but there are five main steps.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          1. Type of Business Entity
        </h5>
        <p>
          You will need to decide whether you want to form as a corporation,
          LLC, or other entity. Corporations and LLCs can both provide the
          ability to avoid personal liability. Despite this, they are legally
          managed differently, split financial interests differently, and are
          taxed differently as well.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">2. Taxation</h5>
        <p>
          You will need to decide how the entities should be taxed. This means
          that you will choose to have a separate taxable entity or a
          pass-through entity.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          3. Which State You Will Form In
        </h5>
        <p>
          You can choose to form your entity in any state that you choose, and
          both the holding company, as well as its subsidiaries do not need to
          be formed in the same state. This decision will be based on the laws
          that govern each state, and whether or not you qualify to do business
          in a state other than where you reside.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">4. Name</h5>
        <p>
          The name of each company will need to meet specific requirements. This
          means that you might need to include certain words or abbreviations
          (such as LLC). There also may be restrictions on what you cannot put
          into the name. Finally, you will need to make sure that the name you
          want to use is available at all.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          5. Choosing a Registered Agent
        </h5>
        <p>
          When forming a corporation, LLC, or any other business entity, you
          will need to choose a registered agent. This person is required to be
          appointed as the point of official communications for the company. You
          can choose to hire a professional registered agent to ensure your
          entity stays in compliance.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Should You Start a Holding Company?
        </h4>
        <p>
          Starting a holding company is not incredibly difficult and there are a
          lot of benefits to doing so. Whether you want to protect your assets,
          reap tax benefits, or have more control over other entities, starting
          a Wyoming holding company can be extremely beneficial.
        </p>
        <p>
          With over 30 years of experience we can make sure your Wyoming Holding
          company complies with all state laws.
          <a
            href="https://wyomingllcattorney.com/Form-a-Wyoming-LLC#contact"
            target="_blank"
            >Contact us</a
          >
          to schedule an appointment today!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="navigation" class="mb-50">
  <div class="container py-5">{% include "links/index.html" %}</div>
</section>

{% endblock %}
