<title>{{ title }}</title>
<meta
  name="description"
  content="Limited liability companies are a type of business organization that provides protection for owners."
/>

<!-- Json-LD Breadcrumb -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/",
          "name": "New Mexico LLC"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/Wyoming-LLC-Taxes",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>
<!-- Json-LD Breadcrumb end -->

{% extends "master/index.html" %} {% block content %}

<div class="back">
  <a href="{{ url_for('index') }}" class="btn-back">
    <div>
      <svg width="16px" height="14px" viewBox="0 0 16 14">
        <path d="M1,7 L15,7"></path>
        <polyline points="7 1 1 7 7 13"></polyline>
      </svg>
    </div>
    <span>Home</span>
  </a>
  <div class="menu-back">
    <ul class="nav-history">
      {% include "links/bread/index.html" %}
      <li>
        <a> {{ title }} </a>
      </li>
    </ul>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center mt-3">
        <h2 class="text-primary-brand">{{ title }}</h2>
        <hr />
        <p>
            Limited liability companies are a type of business organization that provides protection for owners. These owners are legally called "members", and are taxed on their own personal tax rates rather than business tax rates. 
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">How are Limited Liability Companies Taxed?</h4>
        <p>
            When you form your business as a Limited Liability Company (LLC), you will not be taxed like a corporation. Instead, you will have a “pass-through entity”. This is more similar to a partnership or sole proprietorship. How a limited liability company pays income tax will depend on how many members you have, and if you choose to be treated as a different business form for tax purposes.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
            Income Taxes
        </h4>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Single Owner LLCs</h5>
        <p>
            Single-member Wyoming LLCs are treated as sole proprietorships for tax purposes. This means that the LLC does not actually pay taxes, and does not need to file with the IRS. Instead, it is done under the personal taxes of the members.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Multi Owner LLCs</h5>
        <p>
            When there are co-owners of an LLC, the IRS treats these members as partnerships. This means that there are still no taxes paid on business income, but each owner will pay taxes on their own personal profits. This will be on a personal income tax return, but with a Schedule E attached.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
            Electing Taxation
        </h4>
        <p>
            There are two options for electing taxation for LLCs, as a Corporation or an S corp. 
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
            C Corporation
        </h5>
        <p>
            All “C” corporations are taxed at a flat 21% rate on all profits. This is lower than other income tax rates, which range from 32-37%. This allows you to make more money, but only pay 21%.
        </p>
        <p>
            Despite this, there are a few things that are different when it comes to a C corporation because you can be subject to double taxation. First, the 21% corporate tax must be paid, but then the shareholders must pay individual income tax as well, at capital gains rates. This ranges up to 23.8%. 
        </p>
        <p>
            It is good to note that retained earnings are not subject to double taxation, and corporate taxation can allow an LLC to offer different benefits to owners and employees. This includes tax-advantaged fringe benefits, stock options, and stock ownership plans.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
            S Corp
        </h5>
        <p>
            An S corporation is a special kind of corporation that has different tax advantages. In an S corporation, you can split your income and distribute it, similar to a partner in a partnership. You can also claim status as an employee, and take a 20% tax deduction in addition to your typical business expenses.
        </p>
        <p>
            In order to qualify as an S corporation, as an owner, you must work in the business and be paid a reasonable salary as an employee. You must also pay tax and FICA tax on that salary. Other requirements include having less than 100 shareholders, every shareholder must be a resident of the United States, and all shareholders must be individuals.
        </p>
        <p>
            The profits are distributed to the owners which means the status avoids double taxation how a C Corporation is typically taxed.
        </p>
        <p>
            The main reason you might choose to elect taxations as an S Corp is because it avoids the double taxation situation of corporations, you can take the QBI deduction on business income, and you only pay Social Security and Medicare tax on employment income.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
            What is Tax Deductible for an LLC?
        </h4>
        <p>
            There are a ton of tax deductions that can be written off for a Wyoming LLC. Here is a list of a few of the most common LLC write offs. 
        </p>
        <ul>
            <li>
                Health benefits
            </li>
            <li>
                Salaries
            </li>
            <li>
                Business meals
            </li>
            <li>
                Work-related travel expenses
            </li>
            <li>
                Work auto use
            </li>
            <li>
                Business insurance
            </li>
            <li>
                Office supplies
            </li>
            <li>
                Phone and internet expenses
            </li>
            <li>
                Business interest
            </li>
            <li>
                Business education
            </li>
            <li>
                Real estate taxes
            </li>
            <li>
                Moving expenses
            </li>
            <li>
                Advertising
            </li>
            <li>
                Start-up expenses
            </li>
        </ul>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
            Other LLC Taxes
        </h4>
        <p>
            Wyoming does not have a personal income tax. This means that LLC members will not owe tax on their income should they earn income on anything within a Wyoming LLC. The only tax for an LLC in Wyoming is the annual license tax of $50, or a small percentage of the LLCs assets.
        </p>
        <p>
            Also known as FICA, Social Security, or Medicare tax, self-employment taxes are 15.3% in Wyoming. This means that if you are a Wyoming LLC business member, or someone who takes profits out of an LLC, self-employment tax will be secured.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
            How LLCs Pay Wyoming State Income tax 
        </h4>
        <p>
            The IRS treats one-member LLCs as sole proprietorships. This means that you will not pay taxes as an LLC, and not have to file a return with the IRS. As an owner of an LLC, you will report profits and losses on your own personal taxes. Then you will submit it as a 1040 tax return. 
        </p>
        <p>
            This might all seem confusing. For more information on LLCs in Wyoming, contact <a href="http://wyomingllcattorney.com" target="_blank"
            >Wyoming Trust & LLC Attorney</a
          >.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="navigation" class="mb-50">
  <div class="container py-5">{% include "links/index.html" %}</div>
</section>

{% endblock %}
