<title>{{ title }}</title>
<meta
  name="description"
  content="Asset protection trusts are a financial-planning trust vehicle. These allow you to place your assets into a trust, in order to shield them from creditors."
/>

<!-- Json-LD Breadcrumb -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/",
          "name": "New Mexico LLC"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://cindysnewmexicollcs.com/Wyoming-Trust",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>
<!-- Json-LD Breadcrumb end -->

{% extends "master/index.html" %} {% block content %}

<div class="back">
  <a href="{{ url_for('index') }}" class="btn-back">
    <div>
      <svg width="16px" height="14px" viewBox="0 0 16 14">
        <path d="M1,7 L15,7"></path>
        <polyline points="7 1 1 7 7 13"></polyline>
      </svg>
    </div>
    <span>Home</span>
  </a>
  <div class="menu-back">
    <ul class="nav-history">
      {% include "links/bread/index.html" %}
      <li>
        <a> {{ title }} </a>
      </li>
    </ul>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center mt-3">
        <h2 class="text-primary-brand">{{ title }}</h2>
        <hr />
        <p>
          Asset protection trusts are a financial-planning trust vehicle. These
          allow you to place your assets into a trust, in order to shield them
          from creditors. A Wyoming asset protection trust (APT) is the
          strongest protection that you can find. You might want to establish
          this type of trust if you are worried about your assets being a part
          of a settlement or a court judgment against your estate.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          How Asset Protection Trusts Work
        </h4>
        <p>
          There are many types of trusts, but an asset protection trust is
          different. APTs specifically shield your property against creditors
          and they are irrevocable.
        </p>
        <p>
          Essentially this means that because they are an irrevocable asset
          protection trust, any assets transferred into the trust will be
          permanent. No matter what occurs, the trust would own the assets, and
          can only be managed by the trustee. Technically, they will no longer
          be in your ownership which, in turn, protects those assets.
        </p>
        <p>
          The opposite would be a revocable asset protection trust, meaning that
          the trust terms can be changed at any time.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Two Types of Asset Protection Trusts
        </h4>
        <p>
          There are two main types of asset protection trusts: domestic asset
          protection trusts and foreign asset protection trusts.
        </p>
        <ul>
          <li>
            <b>Domestic asset protection trusts:</b> In the United States, a
            domestic asset protection trust offers flexible laws. They can also
            be set up in order to provide asset protection for Medicaid planning
            or a special needs beneficiary. This means that if you will need to
            use Medicaid in order to pay for long term care, this might help you
            become eligible. Special need asset protection can also make it
            possible to qualify for government benefits.
          </li>
          <li>
            <b>Foreign asset protection trusts:</b> More often known as foreign
            asset protection trusts or “offshore” trusts, these trusts are
            typically held in a foreign account. The main difference between
            these trusts and domestic trusts is that your trust will be governed
            by the laws of whichever country you established it in. Another
            benefit is that if a creditor wins against you in a U.S. court, it
            may not be enforceable according to the laws of the country your
            trust exists in. You also may be able to qualify for higher privacy
            laws.
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Benefits of an Asset Protection Trust
        </h4>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          Protect Assets from Lawsuits and Creditors
        </h5>
        <p>
          The most important benefit of an APT is that you can protect your
          assets from creditors regardless of what happens. No one ever plans to
          be sued, but if it does happen you can ensure that your assets will be
          safe.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          Safeguard Assets for Beneficiaries
        </h5>
        <p>
          Although you cannot move your assets once they are placed into the
          trust, it does ensure that they will be safe for your beneficiaries in
          the event of your sudden death. It is also a protection for your
          beneficiaries should you suddenly run into legal trouble.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">
          Allow Your Heirs to Skip Probate
        </h5>
        <p>
          The probate process can be frustrating for your heirs after you pass
          away. Essentially, probate is the process in which the executor will
          collect your assets, pay off your debts, and then distribute your
          assets to your heirs according to your will. Although this is never
          something you want to think about, helping your heirs avoid the
          probate process will not only save them time but also money and
          heartache.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h5 class="text-primary-brand sub-section">Protect Your Business</h5>
        <p>
          When you use an APT you give yourself protection against any claims
          such as personal injury claims that occur in your life. You will also
          protect your business in the event you default on any type of personal
          loan.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Funding an Asset Protection Trust
        </h4>
        <p>
          Although you can fund an asset protection trust with cash, you can do
          so with much more. This might include real estate, LLCs, and other
          assets. It should also include your saving accounts, investments,
          business interests, and any notes payable to you.
        </p>
      </div>

      <div class="col-12 col-lg-8 text-center mt-3">
        <h4 class="text-primary-brand boxed">
          Should You Start an Asset Protection Trust
        </h4>
        <p>
          You might want to consider an asset protection trust if you have a
          high net worth. This will provide you with the knowledge that your
          assets are safe regardless of what happens in your life. Additionally,
          if you own businesses, an asset protection trust can prove essential.
          By assuring that your personal assets are safeguarded against
          creditors, your assets will be safe for your beneficiaries.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="navigation" class="mb-50">
  <div class="container py-5">{% include "links/index.html" %}</div>
</section>

{% endblock %}
