<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page Not Found</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/app.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Merienda&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body-outer-404">
    {% include "layouts/navbar.html" %}
        <div class="body-404 flex-column flex-md-row px-4 px-md-5">
          <div class="text-404">
            <h1>404</h1>
            <h2>Oops! Page not found</h2>
            <p>Perhaps you can try to refresh the page, sometimes it works</p>
            <a href="{{ url_for('index') }}">Return home</a>
          </div>
          <div class="image-404">
            <img
              src="{{ url_for('static', filename='images/404.jpg') }}"
              alt="404"
            />
          </div>
        </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
