<div class="row d-flex contact-form-wrapper" id="mc_embed_signup">
  <form
    action="https://cindysnewmexicollcs.us19.list-manage.com/subscribe/post?u=8330d6abbdc3eb226f6bf2f80&amp;id=47d501b89e"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate contact-form col-md-6"
    target="_blank"
  >
    <p class="d-block text-center form-heading">Get in touch</p>
    <div class="contact-fields">
      <span class="d-block fields-required">Required</span>
      <div class="form-group">
        <input
          type="email"
          name="EMAIL"
          class="form-control input"
          placeholder="Email Address *"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="FNAME"
          class="form-control input"
          placeholder="First Name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="LNAME"
          class="form-control input"
          placeholder="Last Name"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          name="PHONE"
          class="form-control input"
          placeholder="Phone Number"
        />
      </div>
      <div class="form-group">
        <textarea
          name="MMERGE8"
          id="mce-MMERGE8"
          class="form-control textarea"
          rows="5"
          placeholder="Message"
        ></textarea>
      </div>
      <div class="form-group">
        <button
          type="submit"
          name="subscribe"
          class="btn submit-message mx-auto d-block"
        >
          submit message
        </button>
      </div>
    </div>
  </form>
  <div class="col-12 col-md-6 contact-info">
    <p class="d-block text-center form-heading">Contact</p>
    <ul class="contact-details list-unstyled">
      <li>CINDY'S Wyoming LLC</li>
      <li>109 Sugar View Dr. STE 1000</li>
      <li>Sheridan, WY 82801</li>
      <li>
        <a href="tel:+1-505-551-0604">307-201-0221</a>
      </li>
      <li>
        <a href="mailto:info@cindysnewmexicollcs.com"
          >info@cindyswyomingllc.com</a
        >
      </li>
    </ul>
    <p class="d-block text-center form-heading">Useful Links</p>
    <ul class="contact-details list-unstyled">
      <li>
        <a href="{{ url_for('llc') }}">Form a Wyoming LLC</a>
      </li>
      <li>
        <a href="{{ url_for('agent') }}">Wyoming Registered Agents</a>
      </li>
      <li>
        <a href="{{ url_for('vo_mail_forwarding') }}"
          >Wyoming Mail Forwarding</a
        >
      </li>
      <li>
        <a href="{{ url_for('vo_index') }}">Wyoming Virtual Office</a>
      </li>
    </ul>
  </div>
</div>
