{% extends "master.html" %}

{% block content %}
<title>The Home for Wyoming LLCs</title>
<header id="first">
<div class="container mega-margin-top-5 pt-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center mt-4 pt-5">
                <div class="feature">
                    <i class="fa fa-university fa-5x wow fadeIn text-light" data-wow-delay=".1s"></i>
                    <h6 class="mt-4 text-uppercase text-light raleway-font">Wyoming LLCs & Corporations</h6>
                    <p>$199 TOTAL</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mt-4 pt-5">
                <div class="feature">
                    <i class="fa fa-book fa-5x wow fadeIn text-light" data-wow-delay=".1s"></i>
                    <h6 class="mt-4 text-uppercase text-light raleway-font">Book Keeping</h6>
                    <p>$25 Seriously.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mt-4 pt-5">
                <div class="feature">
                    <i class="fa fa-balance-scale fa-5x wow fadeIn text-light" data-wow-delay=".1s"></i>
                    <h6 class="mt-4 text-uppercase text-light raleway-font">Retirement Plans</h6>
                    <p>Invest in your Future</p>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="one" class="neg-margin-top-5">
    <div class="container wow fadeInUp">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="list-group align-self-center bg-white list-group-card">
                    <li class="list-group-item">Allow Us To:</li>
                    <li class="list-group-item">Form Your Company</li>
                    <li class="list-group-item">Handle Your Mail</li>
                    <li class="list-group-item">Keep Your Books</li>
                    <li class="list-group-item">& More</li>
                </ul>
            </div>
            <div class="row justify-content-center mt-3">
                <a href="https://app.cindysnewmexicollcs.com.com/login"><button class="btn btn-primary-outline raleway-font mr-1 btn-lg" type="submit">Order</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h3 class="mt-3 text-primary raleway-font">Why Choose Us?</h3>
                <hr class="primary">
                <p>
                    We were founded by entrepreneurs for entrepreneurs. We know first hand the difficulties of starting and running a small business. One thing that should not be difficult is actually starting the company. Let us file the paperwork and handle your books after. You focus on what matters... your company!
            <br><br>
            <p>There are other incorporation providers for you to choose from. Our competitors start with one price and by the end you are paying several times more! </p></div>
    </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <h5 class="mt-3 text-primary raleway-font">Who can benefit from doing business in Wyoming?</h5>
                <hr class="primary">
                <ul class="list-group align-self-center">
                    <li class="list-group-item align-self-center">Small Business Owners</li>
                    <li class="list-group-item align-self-center">Privacy Minded Individuals</li>
                    <li class="list-group-item align-self-center">Those With Assets</li>
                    <li class="list-group-item align-self-center">Cost Conscious Investors</li>

                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <p></div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 col-12 text-justify">
                <h5 class="mt-3 text-primary raleway-font text-center">Legal Structures for Your Small Business</h5>
                <hr class="primary">
                <p>

<br><br>
There are several advantages to starting a business. One of the greatest is that the company is considered its own person under the eyes of the law. This allows for flexibility when minimizing taxes and protecting assets. There are 3 ways that you can structure your business:
<br><br>
                    <b>Sole-proprietorship:</b> It is the simplest and easiest to understand. Basically, you just set up shop and go to work. What you make is what you earn. Every cent passes through your pocket and the IRS demands that you show it that way. The downsides to a sole-prop are unlimited personal liability and higher taxes. Learn more about <a href="{{ url_for('incorporating') }}">why you should avoid a sole-proprietorships here.</a>
<br><br>
                    <b>Limited Liability Companies:</b> LLCs have better tax treatment than sole-props and corporations. They also enjoy the corporate veil and limited liability. Learn about <a href="{{ url_for('index') }}">forming an LLC</a> here. View our operational page regarding
<br><br>
                    <b>Corporations:</b> They can do pretty much anything that a human being can do except for breathe. They have all the same rights that a human does under law. And so any money that the corporation makes belongs to the corporation. This often means double taxation as well. Learn about <a href="{{ url_for('llc_corporations') }}">forming a corporation</a> here.
<br><br>
Why use a business entity? Tax advantages. By setting up a separate entity than yourself you can structure the money so that you minimize how much taxes you payout.
Also if somebody decides to sue you, the corporation will take the hit. Remember that you are not your corporation.
<br><br>
This site is solely intended for informational purposes. It is beyond the scope of this site to provide any sort of legal advice. Rather, we only intend to make you aware of the forms of ownership available to you.
<br><br>
 </p>
            </div>
        </div>
    </div>
</section>
<section id="navigation" class="mb-50">
    <div class="container pt-5">{% include "links/index.html" %}</div>
</section>
{% endblock %}}
