<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Craft beer forage gochujang" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- preconnect -->
    <link rel="preconnect" href="https://stackpath.bootstrapcdn.com/" />
    <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com/" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" />
    <link rel="preconnect" href="https://code.jquery.com/" />

    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}" />

  </head>
  <nav id="topNav" class="navbar fixed-top navbar-toggleable-sm">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbar"
      >
        <span>☰</span>
      </button>
      <a
        class="navbar-brand page-scroll raleway-font"
        href="{{ url_for('index') }}"
        >Wyoming LLCs</a
      >
      <div class="collapse navbar-collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="{{ url_for('llc') }}"
              id="navbarDropdownMenuLink1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Resources & Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item nav_hover" href="{{ url_for('llc') }}"
                >Form an LLC</a
              >
              <a
                class="dropdown-item nav_hover"
                href="{{ url_for('corporation') }}"
                >Form a Corporation</a
              >
              <a
                class="dropdown-item nav_hover"
                href="{{ url_for('vo_index') }}"
                >Wyoming Virtual Office</a
              >
              <a
                class="dropdown-item nav_hover"
                href="{{ url_for('registered_agents') }}"
                >Wyoming Registered Agents</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#examples">Login</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link page-scroll"
              data-toggle="modal"
              title="A free Bootstrap theme"
              href="#aboutModal"
              >About</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body class="bg-faded">
    {% block content %}{% endblock %}
    <!-- <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 float-left">
                    <h6 class="text-uppercase raleway-font">Wyoming</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Something1</a></li>
                        <li><a href="#" class="text-light" target="ext">Something2</a></li>
                        <li><a href="#" class="text-light" target="ext">Something3</a></li>
                        <li><a href="#" class="text-light" target="ext">Something4</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 column">
                    <h6 class="text-uppercase raleway-font">About</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Contact Us</a></li>
                        <li><a href="#" class="text-light">Delivery Information</a></li>
                        <li><a href="#" class="text-light">Privacy Policy</a></li>
                        <li><a href="#" class="text-light">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 column raleway-font">
                    <h6 class="text-uppercase">Stay Posted</h6>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-light" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-3 text-right raleway-font">
                    <h6 class="text-uppercase">Follow</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i class="fa fa-twitter fa-2x text-light" aria-hidden="true"></i></a>&nbsp;</li>
                        <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="fa fa-linkedin fa-2x text-light" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <span class="float-right text-muted small">Â©2017 Company</span>
        </div>
    </footer> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="../static/javascript/scripts.js"></script>
  </body>
</html>
