@charset "UTF-8";
@import "./externals/bootstrap.min.css";
@import "./externals/404.css";
nav.navbar {
  position: sticky;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  min-height: 60px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
nav.navbar .navbar-brand {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
nav.navbar .navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width: 992px) {
  nav.navbar .navbar-brand {
    padding: 0;
  }
}
nav.navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.15);
}
nav.navbar .navbar-toggler .navbar-toggler-icon {
  width: auto;
  height: auto;
}
nav.navbar .navbar-toggler .navbar-toggler-icon .material-icons {
  color: #002765;
}
nav.navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media (min-width: 992px) {
  nav.navbar .navbar-nav {
    align-items: center;
  }
}
nav.navbar .navbar-nav .nav-item {
  padding: 0;
  margin-right: 12px;
}
@media (max-width: 992px) {
  nav.navbar .navbar-nav .nav-item {
    margin-bottom: 12px;
  }
}
nav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}
nav.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}
nav.navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 30px;
  transition: all 0.2s linear;
}
nav.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
}
nav.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: rgba(0, 0, 0, 0.7);
}

.call-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  color: #002765;
  background-color: #eee;
  text-decoration: none;
  letter-spacing: 1.1px;
  padding: 0.5rem;
}

.btn-order {
  background-color: #002765;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.1px;
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 140px;
}

footer {
  padding: 50px 0;
}
footer .footer-text {
  color: #002765;
  font-size: 20px;
}
footer .social-item {
  color: #b3b3bf;
  margin-right: 1rem;
  transition: all 0.15s linear;
}
footer .social-item img {
  width: 16px;
  margin-right: 5px;
}
footer .social-item:first-child img {
  width: 12px;
}
footer .social-item:hover {
  transform: scale(1.05);
  color: #002765;
  font-weight: bold;
}

.company-info {
  width: fit-content;
  text-align: center;
}
.company-info > * {
  font-family: "Merienda", cursive;
  color: #001332;
}

section#first, header#first {
  background-color: #298ab7;
  padding: 43px 0;
}
section#first img, header#first img {
  width: 70px;
  height: 70px;
  animation-delay: 0.1s;
  animation-name: fadeIn;
}
section#first span, header#first span {
  margin-top: 10px;
  color: #fff;
  font-family: "Merienda", cursive;
  text-align: center;
  font-weight: 700;
}

section#intro .list-group-card {
  position: relative;
  top: -20px;
  width: fit-content;
  color: #2c3970;
  border: none;
  box-shadow: 10px 10px 5px rgba(13, 71, 161, 0.1);
  border-left: 3px solid #002765;
  border-radius: 0;
}
section#intro .btn-order-now {
  display: block;
  width: fit-content;
  text-align: center;
  border: 1px solid #002765;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.2s linear;
}
section#intro .btn-order-now > * {
  color: #002765;
}
section#intro .btn-order-now .text-capitalize {
  font-size: 1.25rem;
  line-height: 1.5;
}
section#intro .btn-order-now .text-uppercase {
  font-family: "Merienda", cursive;
  font-size: 13px;
  font-weight: 700;
}
section#intro .btn-order-now:hover {
  background-color: #002765;
}
section#intro .btn-order-now:hover * {
  color: #fff;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  transition: all 0.2s linear;
}
.pricing-card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
}
.pricing-card .card-head {
  display: block;
  text-align: center;
}
.pricing-card .card-head > * {
  text-align: center;
}
.pricing-card .card-head p {
  font-size: 24px;
  font-weight: bold;
  font-family: "Merienda", cursive;
  margin: 0;
}
.pricing-card .card-head small {
  font-size: 80%;
}
.pricing-card hr {
  margin: 1.5rem 0;
}
.pricing-card ul {
  margin-left: 14px;
  margin-bottom: 30px;
}
.pricing-card .card-btn {
  position: relative;
  bottom: 0;
  left: 0;
  display: block;
  font-family: "Merienda", cursive;
  font-size: 80%;
  width: 150px;
  border-radius: 5rem;
  font-weight: 700;
  padding: 10px;
  opacity: 0.7;
  transition: all 0.2s;
  background: #002765;
  color: #fff;
  margin: 20px auto 0;
}
.pricing-card:hover .card-btn {
  opacity: 1;
}

.page-section {
  margin: 50px 0;
}

h1, .h1 {
  font-weight: 600;
}

.text-primary-brand {
  color: #002765;
  font-family: "Merienda", cursive;
}

.boxed {
  box-sizing: content-box;
  padding: 10px;
  border: 3px solid #002765;
}

section .section-title {
  text-align: center;
  color: #002765;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Merienda", cursive;
  font-size: 1rem;
}
section .sub-section {
  text-align: left;
  font-weight: 400;
}
section p {
  font-size: 17px;
  margin-top: 10px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: justify;
}
section p a {
  color: #002765;
  transition: all 0.15s linear;
}
section p a:hover {
  color: currentColor;
  text-decoration: underline;
}
section ol li, section ul li {
  text-align: left;
  margin-bottom: 10px;
}
section ol li:last-child, section ul li:last-child {
  margin-bottom: 0;
}

.bigger {
  line-height: initial;
  font-size: 24px;
  margin: 0 4px;
}

p {
  font-size: 17px;
  margin-top: 10px;
  font-family: "Libre Baskerville", serif;
  text-align: justify;
}

.links-grid a {
  color: #002765;
  transition: all 0.2s linear;
  font-weight: 500;
}
.links-grid a:hover {
  color: #222;
  text-decoration: underline;
}
.links-grid > .col-12:first-child {
  border-top: 1px solid #dee2e6;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.links-grid > .col-12 > .row > .col-12 {
  border-top: 1px solid #dee2e6;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.links-section-headline {
  font-size: 28px;
  font-weight: 700;
  font-family: "Merienda", cursive;
  color: #001332;
  width: 100%;
}

.contact-form-wrapper {
  border-radius: 5px;
  font-size: 14px;
  border: 3px solid #002765;
}
.contact-form-wrapper > * {
  padding: 20px;
}
@media (min-width: 767px) {
  .contact-form-wrapper .contact-form,
.contact-form-wrapper .contact-info {
    border-right: 3px solid #002765;
  }
}
.contact-form-wrapper .contact-form .form-heading,
.contact-form-wrapper .contact-info .form-heading {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  color: #001332;
}
.contact-form-wrapper .contact-form .contact-fields,
.contact-form-wrapper .contact-info .contact-fields {
  display: block;
  width: 100%;
}
.contact-form-wrapper .contact-form .contact-fields > *,
.contact-form-wrapper .contact-info .contact-fields > * {
  margin-bottom: 1rem;
}
.contact-form-wrapper .contact-form .contact-fields > *:last-child,
.contact-form-wrapper .contact-info .contact-fields > *:last-child {
  margin-bottom: 0;
}
.contact-form-wrapper .contact-form .contact-fields .fields-required,
.contact-form-wrapper .contact-info .contact-fields .fields-required {
  text-align: right;
  font-weight: bold;
}
.contact-form-wrapper .contact-form .contact-fields .fields-required::before,
.contact-form-wrapper .contact-info .contact-fields .fields-required::before {
  display: inline-block;
  content: "*";
  color: orangered;
  margin-right: 3px;
}
.contact-form-wrapper .contact-form .contact-details li,
.contact-form-wrapper .contact-info .contact-details li {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: #002765;
  transition: all 0.35s;
}
.contact-form-wrapper .contact-form .contact-details li a,
.contact-form-wrapper .contact-info .contact-details li a {
  transition: all 0.35s;
  color: grey;
  white-space: nowrap;
}
.contact-form-wrapper .contact-form .contact-details li a:hover,
.contact-form-wrapper .contact-info .contact-details li a:hover {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
}
.contact-form-wrapper .contact-form .contact-details li a::before,
.contact-form-wrapper .contact-info .contact-details li a::before {
  display: inline-block;
  content: "»";
  margin-right: 8px;
  font-size: 24px;
}

.input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #003b98;
  color: #fff !important;
  font-size: 14px;
  transition: all 0.2s linear;
  line-height: 1.5;
}
.input::placeholder {
  color: #fff;
}
.input:focus {
  background-color: #002765;
  box-shadow: 0 0 0 0.2rem #003b98;
}

.textarea {
  width: 100%;
  height: auto;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: #003b98;
  color: #fff !important;
  font-size: 14px;
  transition: all 0.2s linear;
  line-height: 1.5;
  resize: none;
}
.textarea::placeholder {
  color: #fff;
}
.textarea:focus {
  background-color: #002765;
  box-shadow: 0 0 0 0.2rem #003b98;
}

.submit-message {
  border-radius: 7px;
  outline: 0;
  border: none !important;
  background: #003b98;
  margin-bottom: 15px;
  color: #fff !important;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: all 0.2s linear;
}
.submit-message:hover, .submit-message:active {
  background: #002765;
}

.back {
  position: absolute;
  top: 250px;
  left: 40px;
  width: 100px;
  width: auto;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1200px) {
  .back {
    display: none;
  }
}
.back.godown {
  top: 450px;
}
.back ul {
  display: block;
  margin-bottom: 0;
  list-style: none;
}
.back ul.nav-history {
  padding-left: 36px;
  padding-top: 25px;
  transform: translateY(0);
  pointer-events: auto;
}
.back ul.nav-history li {
  margin-bottom: 8px;
}
.back ul.nav-history li::after {
  content: "";
  position: absolute;
  left: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #002765;
  transform: translateY(6px);
  transition: all 0.2s ease;
}
.back ul.nav-history li:last-of-type::after {
  background: #5a667f;
}
.back ul.nav-history li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 17px;
  margin-top: 10px;
  width: 2px;
  height: 28px;
  background: #e8eaed;
  transition: all 0.2s ease;
}
.back ul.nav-history li.active {
  pointer-events: none;
}
.back ul.nav-history li.active::after {
  background: #e8eaed;
}
.back ul.nav-history li.active a {
  color: #5a667f;
}
.back ul.nav-history li a {
  color: #002765;
  display: inline-block;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  transform: translateY(0);
}
.back ul.nav-history li a:hover {
  color: #003b98;
}
.back ul.nav-links {
  position: relative;
  margin-top: 20px;
  padding-left: 12px;
  transform: translateY(0);
  pointer-events: auto;
}
.back ul.nav-links li:not(:last-child) {
  margin-bottom: 5px;
}
.back ul.nav-links li a {
  font-size: 14px;
  font-weight: 600;
  color: #c8ccd4;
  transition: color 0.2s ease;
}
.back ul.nav-links li a:hover {
  color: #9098a9;
}
.back li {
  white-space: nowrap;
}
.back li:last-of-type a {
  color: grey !important;
  pointer-events: none;
}
.back a {
  text-decoration: none;
  font-weight: 500;
}
.back .btn-back {
  display: inline-block;
}
.back .btn-back div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #cbdfff;
  float: left;
}
.back .btn-back div svg {
  fill: none;
}
.back .btn-back svg path,
.back .btn-back svg polyline {
  stroke: black;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.back .btn-back span {
  display: inline-block;
  color: #003b98;
  margin-left: 10px;
  line-height: 34px;
  transform: translateX(0);
  transition: all 0.2s ease;
}
.back .btn-back span:hover {
  color: #002765;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.fadeIn {
  animation: fadeIn 2s forwards;
}

.fadeInUp {
  animation: fadeInUp 1s forwards;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

ul.checked-list li {
  display: flex;
  align-items: center;
}
ul.checked-list li::before {
  display: block;
  content: "✔";
  margin-right: 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*# sourceMappingURL=app.css.map */
