@import "./variables.scss";
@import "./externals/bootstrap.min.css";
@import "./externals/404.css";

// import style components
@import "./components/navbar";
@import "./components/footer";
@import "./components/home";
@import "./components/texts";
@import "./components/links";
@import "./components/contact";
@import "./components//back";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  // font-family: $libre;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.container {
  @media (min-width: $xl) {
    max-width: 1140px;
  }
}

.fadeIn {
  animation: fadeIn 2s forwards;
}

.fadeInUp {
  animation: fadeInUp 1s forwards;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

ul.checked-list {
  & li {
    display: flex;
    align-items: center;
    &::before {
      display: block;
      content: "\02714";
      margin-right: 8px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
