$libre: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$montserrat: $libre;
$raleway: "Montserrat", sans-serif;
$flamenco: "Merienda", cursive;

$brand_color: #002765;
$gray: rgba(0, 0, 0, 0.5);
$gray_hover: rgba(0, 0, 0, 0.7);

$sm: "576px";
$md: "767px";
$lg: "992px";
$xl: "1200px";
