<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/app.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Merienda&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "layouts/navbar.html" %} {% block content %} {% endblock %}

    <section id="contact">
      <div class="container">{% include "contact.html" %}</div>
    </section>

    {% include "layouts/footer.html" %}

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
